client:
{
    server_url: 'https://127.0.0.1:1443/'
    server_cert: 'certificates/server_cert.pem'
    private_key: 'certificates/private.pem'
    hide_cursor: False
    use_rfid_dummy: True
    screensaver_timeout: 30
    interaction_timeout: 10
    item_refresh: 60000
}
rfid:
{
    key: 'ffffffffffff'
}
